/* -------
roadmap components
------- */

.roadmap {
  margin: 0 auto;
  max-width: 96rem;
  padding: 12rem 0;
  width: 100%;
}

/* heading */
.roadmap-heading {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4.6rem;
}

.roadmap-title {
  margin-bottom: 3rem;
  max-width: 26rem;
}

.roadmap-subtitle {
  max-width: 45rem;
  text-align: center;
}

/* sales */
.roadmap-sales {
  align-content: stretch;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 3rem;
  max-width: 65rem;
}

.roadmap-sales-item {
  border: 0.2rem solid var(--grayD4);
  border-right: none;
  flex: 1;
  padding: 1.5rem 0;
}
.roadmap-sales-item:last-child {
  border-right: 0.2rem solid var(--grayD4);
}

.roadmap-sales-item-head {
  border-bottom: 0.2rem solid var(--grayD4);
  padding: 0 1.5rem 1.5rem;
}

.roadmap-sales-item-head > span {
  color: var(--white);
  display: block;
  font-size: 2.2rem;
  font-weight: var(--medium);
  line-height: 1;
  margin-bottom: .5rem;
}

.roadmap-sales-item > p {
  color: var(--color-orange);
  font-size: 1.8rem;
  padding: 1.5rem 1.5rem 0;
}

/* step */
.roadmap-step {
  align-items: flex-start;
  border-bottom: 1px solid var(--gray44);
  display: flex;
  justify-content: space-between;
  padding: 4.4rem 0;
}
.roadmap-step:last-child {
  border: none;
}

.roadmap-counter {
  align-items: center;
  border: 1px solid var(--grayAA);
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 13rem;
  justify-content: center;
  width: 15rem;
}

.roadmap-counter-heading {
  color: var(--color-primary);
  font-family: var(--ubuntu);
  font-size: 2.4rem;
  font-weight: var(--bold);
}

.roadmap-counter-text {
  color: var(--color-primary);
  font-family: var(--ubuntu);
  font-size: 1.8rem;
  font-weight: var(--medium);
}

.roadmap-counter-text > span {
  font-size: 3.8rem;
  font-weight: var(--bold);
  letter-spacing: -.252rem;
  padding-right: .3rem;
}

.roadmap-content {
  flex: 1;
  margin-left: 5rem;
}

.roadmap-content h4 {
  color: var(--white);
  font-size: 2.4rem;
  font-weight: var(--medium);
  line-height: 1;
  padding: 2rem 0 1.2rem;
}

.roadmap-content p {
  margin-bottom: 2rem;
}

.roadmap-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.roadmap-content li {
  font-size: 1.8rem;
  padding: .3rem 0;
}

/* roadmap gallery */
.roadmap-gallery {
  margin-top: 2rem;
}

.roadmap-gallery-item {
  height: 30rem;
  width: 33%;
  margin: 1rem;
}

.roadmap-gallery-item > img {
  border-radius: 0.2rem;
  border: 0.3rem solid var(--color-secondary);
  box-shadow: 0 1rem 4rem #1EC1B34D;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

/* step with single image */
.roadmap-content.with-single-image {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.roadamp-content-left {
  flex: 1;
}

.roadmap-content-right {
  flex: 0 0 auto;
  margin-left: 8rem;
}

.roadmap-content-right > img {
  border-radius: 0.2rem;
  border: 0.3rem solid var(--color-secondary);
  box-shadow: 0 1rem 4rem #1EC1B34D;
  height: 36rem;
  object-fit: cover;
  width: 24rem;
}

/* -------
responsive
------- */ 
@media (max-width: 1024px) {
  .roadmap {
    padding: 7rem 0 2rem;
  }

  .roadmap-heading {
    margin-bottom: 1rem;
  }

  .roadmap-title {
    max-width: 100%;
  }

  .roadmap-subtitle > br {
    display: none;
  }

  .roadmap-step,
  .roadmap-content.with-single-image {
    flex-direction: column;
  }

  .roadmap-content {
    margin: 2rem 0 0;
  }

  .roadmap-content-right {
    margin: 2rem 0 0;
    flex: 1;
  }

  .roadmap-content-right > img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 680px) {
  .roadmap-step {
    padding: 3rem 0;
  }
  
  .roadmap-gallery {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

  .roadmap-gallery-item {
    width: 80%;
  }

  /* sales */
  .roadmap-sales {
    flex-direction: column;
    margin: 2rem 0 0;
  }

  .roadmap-sales-item {
    border-right: 0.2rem solid var(--grayD4);
    margin-bottom: 2rem;
  }
}