:root {
  --black: #000001;
  --gray44: #444;
  --grayAA: #AAA;
  --grayD4: #D4D4D4;
  --white: #FFF;

  --color-primary: #EC008C;
  --color-primary-darken: #BA0471;
  --color-primary-lighten: #FADAED;

  --color-secondary: #4DF0FA;

  --color-orange: #D16413;
  --color-green: #00EC76;
  --color-red: #EC0000;
}
